
<!DOCTYPE html>
<html lang="zh-TW">
  <head>
   
  </head>
  <body>
    <div>
        <textarea id="txtShow" disabled></textarea>
        <input id="txtInput" type="text">
        <button id="btnSend">送出</button>
    </div>
    <script src="./javascripts/chatRoom.js"></script>
  </body>
</html>