<!DOCTYPE html>
<html lang="zh-TW">
  <head>
   
  </head>
  <body>
    <div>
      <button class="initialBtn">初始化</button>
          
      <button class="joinBtn">join room</button>
      
      <button class="btnCall">send offer</button>
                               
      <video width="500" height="500" autoplay
        id="myVideo" muted playsinline></video>
                                  
      <video width="500" height="500" autoplay
        id="remoteVideo" playsinline></video>
    </div>
    <script src="./javascripts/video.js"></script>
  </body>
</html>




